:root {
	--color-primary: #0acf83;
	--color-accent: #ffc120;
	--color-default: #000000;
	--color-grey: #bababa;
	--color-grey-dark-1: #7f7f7f;
	--color-grey-light-1: #f6f6f66;
	--color-grey-light-2: #f3f3f3;
	--color-white: #ffffff;
	--font-sans: "DM Sans", sans-serif;
}

html {
	box-sizing: border-box;
	font-size: 10px;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	font-family: var(--font-sans);
}
